<div class="homepage" id="homepage">
  
  <!-- ***********************************navigation bar**************************************     -->


  <!-- ********************************************Text home section***************************************  -->
  <section class="homepage-section" id="homepage-sectiom">
    <div class="center-text" id="center-text">

      <p class="para-text">
        TO BUY THE PRODUCT YOU NEED TO LOGIN FIRST.  <a href="/login"> &nbsp;LOG IN</a>
      </p>
      <br><br><br>
      <div class="home-buttons">
        <a href="/login">LOG IN</a>
        <a href="/mainpage">AS GUEST</a>
        <a href="/contact">CONTACT</a>
        <a href="/login">Join Our Community</a>

      </div>
    </div>
  </section>

  <!-- ********************************************Text home section***************************************  -->
</div>
